<div class="row">
  <div class="offset-md-3 col-md-6 col-sm-12">
    <div class="toDoList mt-5">
      <form [formGroup]='todoForm' (ngSubmit)='add()'>
        <div class="input-group mb-3">
          <input type="text" class="form-control" formControlName='title' placeholder="Your Text" [(ngModel)]="todoTitle">
          <div class="input-group-append">
            <button class=" btn input-group-text" [disabled]='todoForm.invalid'>Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
    <div class="offset-md-3 col-md-6 col-sm-12 mt-4">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor='let work of works; let i=index'>
            {{ work }}
            <span class="badge" (click)='delete(i)'>X</span>
          </li>
        </ul>
    </div>
</div>