<form #postForm='ngForm' (ngSubmit)="onAddPost(postForm)">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8">

      <!-- Title field...................... -->
      <div class="form-group">
        <label for="">Title</label>
        <input type="text"
          class="form-control"
          autocomplete="off"
          ngModel
          name="title"
          required
          minlength="4"
          #title="ngModel">
          <small *ngIf="title.invalid && title.touched">Please Enter title</small>
      </div>

      <!-- Content field.................... -->
      <div class="form-group">
        <label for="">Content</label>
        <input type="text"
          class="form-control"
          autocomplete="off"
          ngModel
          name="content"
          required
          #content="ngModel">
          <small *ngIf="content.invalid && content.touched">Please Enter some content</small>
      </div>

      <div>
        <button class="btn btn-sm btn-success" type="submit">Add Post</button>
      </div>
    </div>
  </div>
</form>
