<div class="row">
    <div class="col-md-8">
        <app-shopping-edit (ingredientAdded)='onIngredientAdded($event)'>
        </app-shopping-edit>
    </div>
</div>
<hr>
<div class="row">  <!--  justify-content-center -->
    <div class="col-md-10">
        <ul class="list-group">
            <li class="list-group-item" style="cursor: pointer" *ngFor='let ingredient of ingredients'>
                {{ ingredient.name }} ({{ ingredient.amount }})
            </li>
        </ul>
    </div>
</div>