<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">

            <!-- Step - 1  (next step - basic-high-light.directive.ts file) -->
            <!-- Start with basic example of creating custom directives -->
            <!-- Step - 5 -->
            <!-- using 'appBasicHighLight' attribute for applying our code in this element -->
            <h4 appBasicHighLight>This is basic Example of using "ElementRef"</h4>


            <br><br>
            <!-- Step - 6 (next step - better-high-light.directive.ts file) -->
            <!-- Another way to implement directives -->
            <!-- Step - 10 -->
            <!-- applying the attribute name inside this element "appBetterHighLight" -->
            <h4 appBetterHighLight>This is Example of another Custom directives using "renderer"</h4>




            <br><br>
            <!-- Step - 11 (next step - best.solution.directive.ts)-->
            <!-- this is the best way to implement this things -->
            <!-- Step - 15 (End Step) -->
            <!-- applying the attribute name inside this element "appBestSolution" -->
            <h4 appBestSolution>This is the best solution of using @HostBinding instead of using renderer</h4>
        </div>
    </div>
</div>