<div class="row">
  <div class="col-md-6 mx-auto mt-5">
    <form>
      
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" autocomplete="off" class="form-control" id="email" 
        [(ngModel)]='userDetail.email' name="email">
      </div>

      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd"
        [(ngModel)]='userDetail.password' name="password">
      </div>
       
      <button type="submit" class="btn btn-success"
      (click)='submitData()' >Submit</button>
    </form>
  </div>
</div>