<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item mb-2" 
            style="cursor: pointer"
            *ngFor="let recipe of recipes">
                <div class="media">
                    <div class="media-body">
                        <h4>{{ recipe.name }}</h4>
                        <p>{{ recipe.description }}</p>
                    </div>
                    <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="ml-1 mt-1 rounded-circle"
                        style="width:100px;">
                </div>
            </li>
        </ul>

        <app-recipe-item></app-recipe-item>
    </div>
</div>